<%- include("header") -%>
    <title>Find me</title>
    <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/findme.css">
    <link href="https://use.fontawesome.com/releases/v5.0.7/css/all.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/stylesheets/darkmode.css">
    </head>

    <body>
        <%- include("navbar") -%>
            <br>
            <div class="container">
                <h1 id="findheader">Hi I am easter egg.I have been hidden somewhere in this website.Can u find me</h1>
            </div>
            <%- include("footer") -%>