<!DOCTYPE html>
<html>
<head>
	<title>Quiz</title>
	<link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="/stylesheets/quiz.css">
	<link href="https://use.fontawesome.com/releases/v5.0.7/css/all.css" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="/stylesheets/darkmode.css">
</head>
<body>
	<nav class="navbar navbar-expand-md navbar-dark bg-dark">
	<div class="container">
  		<a class="navbar-brand" href="#">Enterr</a>
  		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent1" aria-				controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    		<span class="navbar-toggler-icon"></span>
  		</button>

  		<div class="collapse navbar-collapse" id="navbarSupportedContent1">
    	<ul class="navbar-nav mr-auto">
    	  
     	 <li class="nav-item">
     	   <a class="nav-link" href="/memes">Memes</a>
     	 </li>
			
		<li class="nav-item">
     	   <a class="nav-link" href="/findme">Find me</a>
     	 </li>
			
		<li class="nav-item">
     	   <a class="nav-link active" href="/quiz">Quiz</a>
     	 </li>
			
     	</ul>
    	<form class="form-inline my-2 my-lg-0">
      	<ul class="navbar-nav mr-auto">
      			<% if(!currentUser){ %>
				<li class="nav-item">
        			<a class="nav-link" href="/signup"><span><i class="fas fa-user-plus"></i></span> Sign Up</a>
      			</li>
      			<li class="nav-item">
        			<a class="nav-link" href="/login"><span><i class="fas fa-user"></i></span> Login</a>
      			</li>
			<%}
      		else{%>
				<li class="nav-item"><a class="nav-link" href="#">Signed in as <%=currentUser.username %></a></li>
				<li class="nav-item">
        			<a class="nav-link" href="/logout"><span><i class="fas fa-sign-out-alt"></i></span>  Logout</a>
      			</li>
			<%}%>
				<li class="nav-item">
    	    		<a class="nav-link active dark-mode-toggle" id="dark-mode-toggle" href="#">Toggle mode</a>
    	  		</li>
     	</ul>
    	</form>
  		</div>
	</div>
</nav><br>
<h1 class="fool">Dont fool yourself by googling the answers</h1>
	<br>
	<div id="containquestion">
		<div id="question"class="rectangle"></div>
		<div id="optionA" class="rectangle select"></div>
		<div id="optionB" class="rectangle select"></div>
		<div id="optionC" class="rectangle select"></div>
		<div id="optionD" class="rectangle select"></div>
		<br><div id="another">Try another</div>
	</div>
	<div id="description">
		<p id="message"> </p>
	</div>
<script type="text/javascript" src="/scripts/quiz.js"></script>
<script type="text/javascript" src="/scripts/abcd.js"></script>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
</body>
</html>

