<%- include("header") -%>
    <title>Quiz</title>
    <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/quiz.css">
    <link href="https://use.fontawesome.com/releases/v5.0.7/css/all.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/stylesheets/darkmode.css">
    </head>

    <body>
        <%- include("navbar") -%>
            <br>
            <h1 class="fool">Dont fool yourself by googling the answers</h1>
            <br>
            <div id="containquestion">
                <div id="question" class="rectangle"></div>
                <div id="optionA" class="rectangle select"></div>
                <div id="optionB" class="rectangle select"></div>
                <div id="optionC" class="rectangle select"></div>
                <div id="optionD" class="rectangle select"></div>
                <br>
                <div id="another">Try another</div>
            </div>
            <div id="description">
                <p id="message"> </p>
            </div>
            <script type="text/javascript" src="/scripts/quiz.js"></script>
            <%- include("footer") -%>